footer.page-footer.font-small.unique-color-dark.pt-4 {
    background-color: #3e1154;
    margin-top: 5%;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
}

h5.mb-1 {
    color: white;
}
.footer-copyright.text-center.py-3 {
    color: aliceblue;
}