<div class="container">

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="assets/img5/1g.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Rs<span>5000</span></h4>
          <p class="card-text">This card has supporting text below as a natural.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    <div class="card">
      <img class="card-img-top" src="assets/img5/1g.jpeg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Rs<span>5000</span></h4>
        <p class="card-text">This card has supporting text below as a natural. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img5/7.jpeg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Rs<span>5000</span></h4>
        <p class="card-text">This card has supporting text below as a natural.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img5/3g.jpeg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Rs<span>5000</span></h4>
          <p class="card-text">This card has supporting text below as a natural </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      
    <div class="card">
      <img class="card-img-top" src="assets/img5/11.jpeg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Rs<span>5000</span></h4>
        <p class="card-text">This card has supporting text below as a natural.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="card-deck ">
    <div class="card">
      <img class="card-img-top" src="assets/img5/1g.jpeg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Rs<span>5000</span></h4>
        <p class="card-text"> This card has supporting text below as a natural.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img5/7.jpeg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Rs<span>5000</span></h4>
        <p class="card-text">This card has supporting text below as a natural.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img5/3g.jpeg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Rs<span>5000</span></h4>
          <p class="card-text">This card has supporting text below as a natural.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      
    <div class="card">
      <img class="card-img-top" src="assets/img5/11.jpeg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Rs<span>5000</span></h4>
        <p class="card-text">This card has supporting text below as a natural.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img5/1g.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Rs<span>5000</span></h4>
          <p class="card-text">This card has supporting text below as a natural.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>
  
</div>