<section class="search-main">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
<div class="input-group md-form form-sm form-2 pl-0">
    <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
    <div class="input-group-append">
      <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search text-grey"
          aria-hidden="true"></i></span>
    </div>
  </div>
   </div>
   <div class="col-lg-6">  
       <div class="ng-drop">
    <div class="dropdown">
        <button class="btn  closebutton btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Location
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn closebutton  btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary search3">
            Subscribe For Daily Alert
        </button>
    </div>
</div>
   </div></div></div>
</section>


<div class="card-group">
  <div class="card text-center">
 
    <div class="card-body">
     
     <span class="flaticon-house">  <h6>Real Estate</h6></span> 
  
    </div>
    
  </div>
  <div class="card text-center">
 
    <div class="card-body">
  <span class="flaticon-books"></span>  <h6>Books &amp; Magazines</h6></div>

  </div>
  <div class="card text-center">
 
    <div class="card-body">
    <span class="flaticon-bunk-bed"></span> <h6>Furniture</h6> </div>
   
  </div>
  <div class="card text-center">
 
    <div class="card-body">
     <span class="flaticon-innovation"></span><h6>Electronics</h6></div>
   
  </div>
  <div class="card text-center">
 
    <div class="card-body">
  <span class="flaticon-car"></span><h6>Cars &amp; Vehicles</h6></div>
    
  </div>
  <div class="card text-center">
 
    <div class="card-body">
     <span class="flaticon-pizza"></span><h6>Other</h6></div>
    
  </div>
  
  
</div>

<!---<section class="card2"> <div class="overlap-category mb-5">
    <div class="row align-items-stretch no-gutters">
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-house"></span></span>
          <span class="caption mb-2 d-block">Real Estate</span>
          <span class="number">3,921</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-books"></span></span>
          <span class="caption mb-2 d-block">Books &amp; Magazines</span>
          <span class="number">398</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-bunk-bed"></span></span>
          <span class="caption mb-2 d-block">Furniture</span>
          <span class="number">1,229</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-innovation"></span></span>
          <span class="caption mb-2 d-block">Electronics</span>
          <span class="number">32,891</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-car"></span></span>
          <span class="caption mb-2 d-block">Cars &amp; Vehicles</span>
          <span class="number">29,221</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-pizza"></span></span>
          <span class="caption mb-2 d-block">Other</span>
          <span class="number">219</span>
        </a>
      </div>
    </div>
  </div></section>-->
 
  