<div class="card-group">
  <div class="card text-center">
 
    <div class="card-body">
     <span class="flaticon-house">  <h6>Real Estate</h6></span> 
  
    </div>
    
  </div>
  <div class="card text-center">
 
    <div class="card-body">
  <span class="flaticon-books"></span>  <h6>Books &amp; Magazines</h6></div>

  </div>
  <div class="card text-center">
 
    <div class="card-body">
    <span class="flaticon-bunk-bed"></span> <h6>Furniture</h6> </div>
   
  </div>
  <div class="card text-center">
 
    <div class="card-body">
     <span class="flaticon-innovation"></span><h6>Electronics</h6></div>
   
  </div>
  <div class="card text-center">
 
    <div class="card-body">
  <span class="flaticon-car"></span><h6>Cars &amp; Vehicles</h6></div>
    
  </div>
  <div class="card text-center">
 
    <div class="card-body">
     <span class="flaticon-pizza"></span><h6>Other</h6></div>
    
  </div>
  
  
</div>